<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1><i class="fa fa-sign-in fa-2x"></i><i class="fa fa-sign-out fa-2x"></i> All Deliveries & Collections
                <small>search, filter and view all your deliveries</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">

        <div class="portlet light">
            <div class="portlet-body flip-scroll">
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Project:</span>
                            <select class="form-control" aria-describedby="basic-addon2">
                                <option></option>
                                <option value="Arnold">Project One</option>
                                <option value="Tony Blair">Shopping Mall</option>
                                <option value="Ken Livingston">Umhlanga Home</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Site:</span>
                            <select class="form-control" aria-describedby="basic-addon2">
                                <option></option>
                                <option value="Arnold">Site One</option>
                                <option value="Tony Blair">Site Two</option>
                                <option value="Ken Livingston">Ground Floor</option>
                                <option value="Ken Livingston">47 Rock Drive</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Structure:</span>
                            <select class="form-control" aria-describedby="basic-addon2">
                                <option></option>
                                <option value="Arnold">South Building</option>
                                <option value="Tony Blair">North Building</option>
                                <option value="Ken Livingston">West Wing</option>
                                <option value="Ken Livingston">Main Building</option>
                                <option value="Ken Livingston">Complex 1</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Delivery #:</span>
                            <input type="text" class="form-control" aria-describedby="basic-addon2">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Delivery Date:</span>
                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                <input type="text" class="form-control" readonly="">
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">Status:</span>
                            <select class="form-control" aria-describedby="basic-addon2">
                                <option></option>
                                <option value="Arnold">all on site</option>
                                <option value="Tony Blair">all collected</option>
                                <option value="Ken Livingston">partially collected</option>
                                <option value="Ken Livingston">collection overdue</option>
                            </select>
                        </div>
                    </div>

                </div>
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                    <tr>
                        <th>
                            Project
                        </th>
                        <th>
                            Site
                        </th>
                        <th>
                            Structure
                        </th>
                        <th>Delivery #</th>
                        <th>
                            Delivery Date
                        </th>
                        <th>
                            Collection Date
                        </th>
                        <th class="numeric">
                            Tonnage
                        </th>
                        <th class="numeric">
                            Square Meters
                        </th>
                        <th>Status</th>
                        <th>
                            <a href="#/editdelivery" class="btn green-haze btn-circle"><i class="fa fa-plus"></i> Add</a>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Project One
                        </td>
                        <td>
                            Site Two
                        </td>
                        <td class="numeric">
                            South Building
                        </td>
                        <td>
                            100004
                        </td>
                        <td>
                            28/01/2015
                        </td>
                        <td>
                            01/09/2015
                        </td>
                        <td class="numeric">
                            9,395
                        </td>
                        <td class="numeric">
                            65,485
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Project One
                        </td>
                        <td>
                            Site one
                        </td>
                        <td class="numeric">
                            Main Building
                        </td>
                        <td>
                            567899
                        </td>
                        <td>
                            02/01/2015
                        </td>
                        <td>
                            15/08/2015
                        </td>
                        <td class="numeric">
                            7,896
                        </td>
                        <td class="numeric">
                            4,325
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Shopping Mall
                        </td>
                        <td>
                            Ground Floor
                        </td>
                        <td class="numeric">
                            West Wing
                        </td>
                        <td>
                            392677
                        </td>
                        <td>
                            01/01/2015
                        </td>
                        <td>
                            <span class="label label-danger">15/01/2015</span>
                        </td>
                        <td class="numeric">
                            1,435
                        </td>
                        <td class="numeric">
                            235
                        </td>
                        <td><span class="label label-danger">collection overdue</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Umhlanga Home
                        </td>
                        <td>
                            47 Rock Drive
                        </td>
                        <td class="numeric">
                            Main House
                        </td>
                        <td>
                            3981275
                        </td>
                        <td>
                            20/02/2015
                        </td>
                        <td>
                            14/09/2015
                        </td>
                        <td class="numeric">
                            789
                        </td>
                        <td class="numeric">
                            4,987
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Shopping Mall
                        </td>
                        <td>
                            Site Two
                        </td>
                        <td class="numeric">
                            Main Building
                        </td>
                        <td>
                            23577
                        </td>
                        <td>
                            18/02/2015
                        </td>
                        <td>
                            01/05/2015
                        </td>
                        <td class="numeric">
                            5,112
                        </td>
                        <td class="numeric">
                            455
                        </td>
                        <td><span class="label label-warning">partially collected</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Project One
                        </td>
                        <td>
                            Site Two
                        </td>
                        <td class="numeric">
                            North Building
                        </td>
                        <td>
                            3467468
                        </td>
                        <td>
                            20/04/2015
                        </td>
                        <td>
                            13/08/2015
                        </td>
                        <td class="numeric">
                            7,231
                        </td>
                        <td class="numeric">
                            3,447
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Project One
                        </td>
                        <td>
                            Site One
                        </td>
                        <td class="numeric">
                            Main Building
                        </td>
                        <td>
                            4578699
                        </td>
                        <td>
                            30/01/2015
                        </td>
                        <td>
                            09/09/2015
                        </td>
                        <td class="numeric">
                            698
                        </td>
                        <td class="numeric">
                            654
                        </td>
                        <td><span class="label label-success">all collected</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Shopping Mall Project
                        </td>
                        <td>
                            Site One
                        </td>
                        <td class="numeric">
                            Complex 1
                        </td>
                        <td>
                            34684367
                        </td>
                        <td>
                            20/02/2015
                        </td>
                        <td>
                            05/06/2015
                        </td>
                        <td class="numeric">
                            65
                        </td>
                        <td class="numeric">
                            721
                        </td>
                        <td><span class="label label-success">all collected</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Project One
                        </td>
                        <td>
                            Site Two
                        </td>
                        <td class="numeric">
                            South Building
                        </td>
                        <td>
                            22334548
                        </td>
                        <td>
                            13/01/2015
                        </td>
                        <td>
                            01/09/2015
                        </td>
                        <td class="numeric">
                            300
                        </td>
                        <td class="numeric">
                            711
                        </td>
                        <td><span class="label label-warning">partially collected</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Unhlanga Home Project
                        </td>
                        <td>
                            47 Rock Drive
                        </td>
                        <td class="numeric">
                            Main House
                        </td>
                        <td>
                            56890268
                        </td>
                        <td>
                            01/03/2015
                        </td>
                        <td>
                            06/09/2015
                        </td>
                        <td class="numeric">
                            733
                        </td>
                        <td class="numeric">
                            112
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/headerActionButton.html'"></span>
                        </td>

                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="6" class="text-right">Totals: </th>
                        <th>23, 456</th>
                        <th>14, 422</th>
                        <th colspan="2"></th>
                    </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="dataTables_info" id="sample_6_info" role="status" aria-live="polite">Showing 1 to 10
                            of 43 entries
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="dataTables_paginate paging_simple_numbers" id="sample_6_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous disabled" aria-controls="sample_6" tabindex="0"
                                    id="sample_6_previous"><a href=""><i class="fa fa-angle-left"></i></a></li>
                                <li class="paginate_button active" aria-controls="sample_6" tabindex="0"><a
                                        href="">1</a></li>
                                <li class="paginate_button " aria-controls="sample_6" tabindex="0"><a href="">2</a>
                                </li>
                                <li class="paginate_button " aria-controls="sample_6" tabindex="0"><a href="">3</a>
                                </li>
                                <li class="paginate_button " aria-controls="sample_6" tabindex="0"><a href="">4</a>
                                </li>
                                <li class="paginate_button " aria-controls="sample_6" tabindex="0"><a href="">5</a>
                                </li>
                                <li class="paginate_button next" aria-controls="sample_6" tabindex="0"
                                    id="sample_6_next"><a href=""><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- END PAGE CONTENT -->
