<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1><i class="fa fa-sign-in fa-2x"></i><i class="fa fa-sign-out fa-2x"></i> Shopping Mall \ Ground Floor \
                West Wing - 08/02/2015 DELIVERY
                <small>edit specific delivery / collection details</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">

        <div class="portlet light">
            <div class="portlet-body form">
                    <form class="horizontal-form">
                        <div class="form-body">
                            <h3 class="form-section">Delivery Details</h3>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><strong>Project \ Site \ Structure</strong></label>
                                        <select class="form-control">
                                            <option>Project One \ Site One \ Main Building</option>
                                            <option>Project One \ Site Two \ South Building</option>
                                            <option selected>Shopping Mall \ Ground Floor \ West Wing</option>
                                            <option>Shopping Mall \ Site One \ Complex 1</option>
                                            <option>Shopping Mall \ Site Two \ Main Building</option>
                                            <option>Umhlanga Home \ 47 Rock Drive \ Main House</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><strong>Delivery Date</strong></label>
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control" readonly="" value="08/02/2015">
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><strong>Delivery #</strong></label>
                                        <input type="text" id="deliveryNumber" value="GFFDRTYTRY0004" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><strong>Collection Date</strong></label>
                                        <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                                            <input type="text" class="form-control" readonly="" value="21/09/2015">
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
												</span>
                                        </div>
															<span class="help-block">
															This is the date the collection is scheduled for. Once collection happens you can update this date if required.</span>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label"><strong>Comments</strong></label>
                                        <textarea rows="4" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-circle blue">Save Changes</button>
                                    <button type="button" class="btn btn-circle default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>

                <h3 class="form-section">Delivery Line Items <small><span class="label label-warning">partially collected</span></small></h3>

                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                    <tr>
                        <th>
                            Code
                        </th>
                        <th style="width:30%">
                            Description
                        </th>
                        <th class="numeric">
                            Qty
                        </th>
                        <th class="numeric">
                            Tonnage
                        </th>
                        <th class="numeric">
                            Square Meters
                        </th>
                        <th>Status</th>
                        <th>
                            <a href="#/editdelivery" class="btn green-haze btn-circle"><i class="fa fa-plus"></i>
                                Add</a>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            ASD001
                        </td>
                        <td>
                            Long Pipe - 100m
                        </td>
                        <td class="numeric">
                            500
                        </td>
                        <td class="numeric">
                            9,395
                        </td>
                        <td class="numeric">
                            65,485
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            FRER45556
                        </td>
                        <td>
                            Short Pipe - 10m
                        </td>
                        <td class="numeric">
                            489
                        </td>
                        <td class="numeric">
                            7,896
                        </td>
                        <td class="numeric">
                            4,325
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            VFGHG-444
                        </td>
                        <td>
                            Flexi Structure 200
                        </td>
                        <td class="numeric">
                            125
                        </td>
                        <td class="numeric">
                            1,435
                        </td>
                        <td class="numeric">
                            235
                        </td>
                        <td><span class="label label-warning">partially collected (100)</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            TRYU-5667
                        </td>
                        <td>
                            Scaffholding - 50
                        </td>
                        <td class="numeric">
                            412
                        </td>
                        <td class="numeric">
                            789
                        </td>
                        <td class="numeric">
                            4,987
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            DEWS-4456
                        </td>
                        <td>
                            Flexi Scaff
                        </td>
                        <td class="numeric">
                            78
                        </td>
                        <td class="numeric">
                            5,112
                        </td>
                        <td class="numeric">
                            455
                        </td>
                        <td><span class="label label-warning">partially collected (51)</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            SAWQ-556
                        </td>
                        <td>
                            Wall Support
                        </td>
                        <td class="numeric">
                            23
                        </td>
                        <td class="numeric">
                            7,231
                        </td>
                        <td class="numeric">
                            3,447
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            RET-441
                        </td>
                        <td>
                            Short Pipe - 20m
                        </td>
                        <td class="numeric">
                            488
                        </td>
                        <td class="numeric">
                            698
                        </td>
                        <td class="numeric">
                            654
                        </td>
                        <td><span class="label label-success">all collected</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            LKIIO-998
                        </td>
                        <td>
                            Brace002 - 45
                        </td>
                        <td class="numeric">
                            779
                        </td>
                        <td class="numeric">
                            65
                        </td>
                        <td class="numeric">
                            721
                        </td>
                        <td><span class="label label-success">all collected</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            SDFG88-2
                        </td>
                        <td>
                            Pipe Support
                        </td>
                        <td class="numeric">
                            630
                        </td>
                        <td class="numeric">
                            300
                        </td>
                        <td class="numeric">
                            711
                        </td>
                        <td><span class="label label-warning">partially collected (510)</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            EEE-4355
                        </td>
                        <td>
                            Cememnt support 002
                        </td>
                        <td class="numeric">
                            15
                        </td>
                        <td class="numeric">
                            733
                        </td>
                        <td class="numeric">
                            112
                        </td>
                        <td><span class="label label-info">all on site</span></td>
                        <td>
                            <span data-ng-include="'views/lineItemActionButton.html'"></span>
                        </td>

                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3" class="text-right">Totals: </th>
                        <th>23, 456</th>
                        <th>14, 422</th>
                        <th colspan="2"></th>
                    </tr>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                        <div class="dataTables_info" id="sample_6_info" role="status" aria-live="polite">Showing 1 to 10
                            of 43 entries
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="dataTables_paginate paging_simple_numbers" id="sample_6_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous disabled" aria-controls="sample_6" tabindex="0"
                                    id="sample_6_previous"><a href=""><i class="fa fa-angle-left"></i></a></li>
                                <li class="paginate_button active" aria-controls="sample_6" tabindex="0"><a href="">1</a></li>
                                <li class="paginate_button " aria-controls="sample_6" tabindex="0"><a href="">2</a>
                                </li>
                                <li class="paginate_button " aria-controls="sample_6" tabindex="0"><a href="">3</a>
                                </li>
                                <li class="paginate_button " aria-controls="sample_6" tabindex="0"><a href="">4</a>
                                </li>
                                <li class="paginate_button " aria-controls="sample_6" tabindex="0"><a href="">5</a>
                                </li>
                                <li class="paginate_button next" aria-controls="sample_6" tabindex="0"
                                    id="sample_6_next"><a href=""><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END PAGE CONTENT -->
