<div class="btn-group">
    <a class="btn  btn-info btn-circle" href="javascript:;" data-toggle="dropdown"
       aria-expanded="false">
        Actions <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu pull-right">
        <li>
            <a href="#/editdelivery">
                <span class="label label-warning"><i class="fa fa-pencil"></i></span>
                Edit </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="label label-danger"><i class="fa fa-remove"></i></span>
                Delete </a>
        </li>
        <li class="divider">
        </li>
        <li>
            <a href="javascript:;">
                <span class="label label-success"><i class="fa fa-sign-out"></i></span>
                All Collected </a>
        </li>
        <li>
            <a href="javascript:;">
                <span class="label label-warning"><i class="fa fa-sign-out"></i></span>
                Partial Collection </a>
        </li>
    </ul>
</div>
