<!-- BEGIN PAGE HEAD -->
<div class="page-head">
    <div class="container">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1><i class="fa fa-cubes fa-2x"></i> Projects
                <small>manage your projects</small>
            </h1>
        </div>
        <!-- END PAGE TITLE -->
    </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN INLINE NOTIFICATIONS PORTLET-->
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="actions">
                            <a href="" class="btn green-haze btn-circle"><i class="fa fa-plus"></i> Add</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="row margin-bottom-40">
                            <!-- Pricing -->
                            <div class="col-md-6">
                                <div class="pricing">
                                    <div class="pricing-head">
                                        <h3>Umhlanga Home <span>
											small project (R250 per month) </span>
                                        </h3>
                                    </div>
                                    <ul class="pricing-content list-unstyled">
                                        <li>
                                            <i class="fa fa-tags"></i> Started: 01/01/2015
                                        </li>
                                        <li>
                                            <i class="fa fa-asterisk"></i> Current cost per day: R3,564
                                        </li>
                                        <li>
                                            <i class="fa fa-heart"></i> Current total tonnage: 234
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> Current total square meters: 344
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="javascript:;" class="btn yellow-crusta">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pricing hover-effect">
                                    <div class="pricing-head">
                                        <h3>Project One <span>
											Medium project (R1,000 per month) </span>
                                        </h3>
                                    </div>
                                    <ul class="pricing-content list-unstyled">
                                        <li>
                                            <i class="fa fa-tags"></i> Started: 15/02/2015
                                        </li>
                                        <li>
                                            <i class="fa fa-asterisk"></i> Current cost per day: R5,223
                                        </li>
                                        <li>
                                            <i class="fa fa-heart"></i> Current total tonnage: 300
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> Current total square meters: 563
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="javascript:;" class="btn yellow-crusta">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pricing hover-effect">
                                    <div class="pricing-head">
                                        <h3>Shopping Mall Project <span>
											Large project (R3,500 per month) </span>
                                        </h3>
                                    </div>
                                    <ul class="pricing-content list-unstyled">
                                        <li>
                                            <i class="fa fa-tags"></i> Started: 01/03/2015
                                        </li>
                                        <li>
                                            <i class="fa fa-asterisk"></i> Current cost per day: R1,674,896
                                        </li>
                                        <li>
                                            <i class="fa fa-heart"></i> Current total tonnage: 5,233
                                        </li>
                                        <li>
                                            <i class="fa fa-star"></i> Current total square meters: 10,658
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="javascript:;" class="btn yellow-crusta">
                                            <i class="fa fa-pencil"></i> Edit
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--//End Pricing -->
                        </div>
                    </div>
                </div>
                <!-- END INLINE NOTIFICATIONS PORTLET-->
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT -->
